# Pandas Data Frame

In [4]:
import pandas as pd
groups = ["Modern Web","DevOps","Cloud","Big Data","Security","自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, 77]
ironmen_dict = {"groups":groups, "ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
ironmen_df

       groups  ironmen
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我挑戰組       77

In [5]:
print(ironmen_df.ndim)
print("---") # 分隔線
print(ironmen_df.shape)
print("---") # 分隔線
print(ironmen_df.dtypes)

2
---
(6, 2)
---
groups     object
ironmen     int64
dtype: object

In [6]:
print(ironmen_df.sum()) #計算鐵人總數
print(ironmen_df.mean()) #計算鐵人平均人數
print(ironmen_df.median()) #計算鐵人中位數
print(ironmen_df.describe()) #列出所有描述性統計

groups     Modern MebDevOpsCloudBig DataSecurity自我挑戰組
ironmen                                           184
dtype: object
ironmen    30.666667
dtype: float64
ironmen    16.5
dtype: float64
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [14]:
import numpy as np
groups = ["Modern Web", "DevOps", np.nan, "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, np.nan]
ironmen_dict = {"groups":groups, "ironmen":ironmen}
ironmen_df = pd.DataFrame(ironmen_dict)
print(ironmen_df)
print("---")# 分隔線
print(ironmen_df.loc[:, "groups"].isnull()) 
print("---")# 分隔線
print(ironmen_df.loc[:, "ironmen"].notnull())

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
---
0    False
1    False
2     True
3    False
4    False
5    False
Name: groups, dtype: bool
---
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [15]:
ironmen_df.groups[ironmen_df.loc[:,"groups"].isnull()] = "不知道名子組"
ironmen_df.ironmen[ironmen_df.loc[:,"groups"].isnull()] += 10
ironmen_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2      不知道名子組     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN

In [2]:
import numpy as np
import pandas as pd
groups = ["Modern Web", "DevOps",np.nan, "Big Data", "Security", "自我挑戰組"]
ironmen = [59, 9, 19, 14, 6, np.nan]
ironmen_dict = {"group": groups,"ironmen":ironmen}
ironmen_df=pd.DataFrame(ironmen_dict)
#print(ironmen_df)
print(ironmen_df.loc[:, "group"].isnull()) #判斷那些組名是遺失值
print(ironmen_df.loc[:, "ironmen"].notnull()) #判斷哪些組的鐵人數是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
Name: group, dtype: bool
0     True
1     True
2     True
3     True
4     True
5    False
Name: ironmen, dtype: bool

In [4]:
print(ironmen_df.group[ironmen_df.loc[:, "group"].isnull()])
print(ironmen_df.ironmen[ironmen_df.loc[:, "ironmen"].notnull()])

2    NaN
Name: group, dtype: object
0    59.0
1     9.0
2    19.0
3    14.0
4     6.0
Name: ironmen, dtype: float64

In [6]:
print(ironmen_df)
ironmen_df_dropped = ironmen_df.dropna() #刪除遺失值
print(ironmen_df_dropped)
ironmen_df_filled =ironmen_df.fillna(0)
print(ironmen_df_filled)
ironmen_df_fillvalue = ironmen_df.fillna({"group":"Cloud", "ironmen":71})
print(ironmen_df_fillvalue)

        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      NaN
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
3    Big Data     14.0
4    Security      6.0
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2           0     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組      0.0
        group  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2       Cloud     19.0
3    Big Data     14.0
4    Security      6.0
5       自我挑戰組     71.0

# dataframe loc, iloc
## dataframe比numpy ndarry(element-wise)提供資料同整的功能
### DataFrame通常為2維的資料
### 橫的為列(索引index)，直的為欄(columns)

In [17]:
# 隨機產生DataFrame資料
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.rand(4,4), index=list('abcd'), columns=list('ABCD'))
frame

          A         B         C         D
a  0.082661  0.558184  0.637064  0.542097
b  0.637999  0.243541  0.623752  0.407719
c  0.919351  0.050784  0.671592  0.031155
d  0.339844  0.209890  0.100664  0.769599

In [16]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.582752  0.305263  0.357781  0.692787
std    0.288686  0.258629  0.350653  0.250382
min    0.298448  0.007564  0.055334  0.331674
25%    0.445700  0.139270  0.059759  0.620190
50%    0.524505  0.315580  0.323797  0.784654
75%    0.661557  0.481573  0.621820  0.857251
max    0.983549  0.582331  0.728198  0.870167

### loc用欄未來定位DataFrame的資料

### iloc用索引來定位DataFrame的資料

### .loc

In [12]:
# 橫的叫列，直的叫欄
#.loc先列後欄，中間用逗號（,）分割，例如取 a 和 A 對應的資料
frame.loc['a','A']

0.35801013748532007

In [18]:
#取前兩行對應資料
frame.loc['a':'b',:]

          A         B         C         D
a  0.082661  0.558184  0.637064  0.542097
b  0.637999  0.243541  0.623752  0.407719

In [19]:
# 取前兩欄之資料
frame.loc[:,'A':'B']

          A         B
a  0.082661  0.558184
b  0.637999  0.243541
c  0.919351  0.050784
d  0.339844  0.209890

In [20]:
# 取特殊列，欄的資料
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.082661  0.558184  0.637064  0.542097
c  0.919351  0.050784  0.671592  0.031155
          A         C
a  0.082661  0.637064
b  0.637999  0.623752
c  0.919351  0.671592
d  0.339844  0.100664
          A         D
a  0.082661  0.542097
d  0.339844  0.769599

In [21]:
frame

          A         B         C         D
a  0.082661  0.558184  0.637064  0.542097
b  0.637999  0.243541  0.623752  0.407719
c  0.919351  0.050784  0.671592  0.031155
d  0.339844  0.209890  0.100664  0.769599

In [14]:
# 上面的例子取的都是連續的列和欄，取第一列和第四列,與第一欄和第四欄對應的資料
frame.loc[['a','d'],['A','D']]

          A         D
a  0.358010  0.588945
d  0.743113  0.795803

### iloc是利用列索引與欄索引進行資料定位，都是從0開始

In [22]:
frame.iloc[0,0]

0.08266129645209119

In [23]:
# 取前兩列的資料
frame.iloc[0:2,:]

          A         B         C         D
a  0.082661  0.558184  0.637064  0.542097
b  0.637999  0.243541  0.623752  0.407719

In [24]:
# 取前兩列，兩欄之資料
frame.iloc[0:2, 0:2]

          A         B
a  0.082661  0.558184
b  0.637999  0.243541

In [26]:
#上面的例子取的都是連續的行和列，若取第一行和第四行、第一列和第四列對應的資料，則
frame.iloc[[0,3],[0,3]]

          A         D
a  0.082661  0.542097
d  0.339844  0.769599

In [25]:
# 取特殊列，欄的資料
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,1]])
print(frame.iloc[[0,1],[0,3]])

          A         B         C         D
a  0.082661  0.558184  0.637064  0.542097
c  0.919351  0.050784  0.671592  0.031155
          A         B
a  0.082661  0.558184
b  0.637999  0.243541
c  0.919351  0.050784
d  0.339844  0.209890
          A         D
a  0.082661  0.542097
b  0.637999  0.407719